@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
body{
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow:scroll;
    background-color: #991414;
    border: 10px dotted #0a6847;
    box-sizing: border-box;
}
#timer{
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index:50;
}

.white-border{
    width: 1040px;
    height: 620px; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background-color: white;
    border-radius: 20px;
}
h1{
    margin: 0;
    font-size: 3rem;
}
.main-container{
    flex: 1;
}
#play{
    display:block;
    position: absolute;
    z-index: 20;
    text-decoration: none;
    width: 120px;
    height: 50px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#play div{
    background-color: #af1717;
    padding: 8px;
    border-radius: 10px;
    letter-spacing: 5px;
    width: 120px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
}
#play2{
    z-index:60;
    text-decoration: none;
    width: 300px;
}
#play2 div{
    background-color: #af1717;
    padding: 8px;
    border-radius: 10px;
    letter-spacing: 5px;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
}
#UI{
    width: 100%;
    height: 100%; 
    z-index: 19;
}
#UI div, #UI button{
    z-index: 20;
}
.UI-button{
    background-color: white;
    border: 3px dashed #0a6847;
    border-radius: 10px;
}
#title, .title-container{
     border-radius: 0 0 20px 20px;
}
#title {
    border-radius: 0 0 20px 20px;
    position: absolute;
    text-align: center;
    width: 50%;
    letter-spacing: 2px;
    animation-name: start_title_anim;
    animation-duration: 1.5s;
    animation-timing-function:ease-out;
    left: 50%;
    transform: translateX(-50%);
    top: -3px; 
    color: rgb(201, 201, 201);
    animation-fill-mode: forwards;
}

@keyframes start_title_anim {
    0% { transform: translateX(-50%) translateY(-140px); }
    100% { transform: translateX(-50%); }
}
@keyframes end_title_anim {
    0% { ransform: translateX(-50%);}
    100% {transform: translateX(-50%) translateY(-150px); }
}
.title-container{
    background-color: #af1717;
    padding: 20px;
}
#info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    letter-spacing: 1px;
    border-radius: 50px;
    z-index: 20;
    font-size: 1.5rem;
    overflow: hidden;
}
#info > div{
    transition: 0.5s;
}
#info p{
    text-align: center;
    font-size: 2rem;
    margin:0 0 20px 0;
}
.info-second{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:5px;
    font-size: 1.5rem;
}
.underline:hover{
    cursor: pointer;
}
.info-second img{
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.menu-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.expand-info{
    text-align: center;
    width: 300px;
    height:200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    padding-top: 40px;
    display: none;
    font-size: 1.25rem;
}

.expand-button-2{
    position: absolute;
    width: 100px;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    top: -20%;
    display: none;
    z-index: 50;
}
.rules{
    font-size: 1.1rem;
    display: block;
    text-align: center;
}
#sound-control, #hint{
    width: 235px;
    height: 46px;
    position: absolute;
    right: -245px;
    transition: 0.5s;
    opacity: 0.9;
    border-radius: 10px;
}
.sound-container, .hint-container{
    background-color: #af1717;
    width: 235px;
    height: 46px;
    position: relative;
    border-radius: 10px;
}
.hint-container span{
    display: block;
    font-size: 0.8rem;
}
.range-container, .hint-container > div{
    position: absolute;
    padding-left: 20px;
}
.range-container input{
    margin-top: 14px;
}
.hint-container p{
    text-align: center;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    color: white;
}
.sound-image{
    top: 55%;
}
.sound-image, .hint-image{
    position:  absolute;
    z-index: 21;
    right: -60px;
    border-radius: 10px;
    overflow: hidden;
    height: 46px;
    opacity: 0.9;
    transition: 0.8s;
}
.hint-image{
    top: 40%;
}
.hint-image a{
    height: 46px;
    width: 46px;
    display: inline-block;
}
.sound-image div, .hint-image div{
    background-color: #af1717;
}
.sound-image img, .hint-image img{
    width: 46px;
}
#sound-control input:hover, .sound-image:hover,#hint:hover, .hint-image:hover,#fullscreen:hover, #smallscreen:hover{
    cursor: pointer;
}
#sound-control-main, #hint-main{
    width: 245px;
    height: 55px;
    overflow: hidden;
    right: 10px;
    position: absolute;
}
#sound-control-main{
    top: 55%;
}
#hint-main{
    top:40%;
}
#main{
    width: 960px;
    height: 540px; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    overflow: hidden;
}
.images-container div{
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%; 
    position: absolute;
    transition: 1s;
}
#background {
    background-image: url('assets/background.png');
    z-index: 10;
}
#window {
    background-image: url('assets/window.png');
    z-index: 8;

}
#armchair1{
    background-image: url('assets/armchair1.png');
    z-index:11;
}
#armchair2{
    background-image: url('assets/armchair2.png');
    z-index:12;
}
#pot{
    background-image: url('assets/pot.png');
    z-index:12;
}
#fireplace{
    background-image: url('assets/fireplace.png');
    z-index:9;
}
#mirror{
    background-image: url('assets/mirror.png');
    z-index:8;
}
#ball{
    background-image: url('assets/ball.png');
    z-index:12;
    transition: 0.5s;
}
#tree{
    background-image: url('assets/tree.png');
    z-index:12;
    bottom: 0;
}
#claus{
    background-image: url('assets/Claus.png');
    z-index:10;
    bottom: 0;
}
#grinch{
    background-image: url('assets/grinch.png');
    z-index: 9;
    transform: 0.5s;
    opacity: 0;
}
#elf{
    background-image: url('assets/elf.png');
    z-index: 10;
    transform: 0.5s;
    transform: translateY(15%);
}
#fire{
    background-image: url('assets/fire.png');
    z-index: 12;
    transform: 0.5s;
    opacity: 0;
}
#candle-fire1,#candle-fire2,#candle-fire3{
    z-index: 11;
    transform: 0.5s;
    opacity: 0;
}
#candle-fire1{
    background-image: url('assets/candle-fire1.png');
}
#candle-fire2{
    background-image: url('assets/candle-fire2.png');
}
#candle-fire3{
    background-image: url('assets/candle-fire3.png');
}
#sliegh{
    background-image: url('assets/\ sleigh.png');
    z-index: 9;
    transition: 3s;
}
#big-present{
    background-image: url('assets/big-present.png');
    z-index: 11;
    transition: 0.3s;
    transform-origin:right;
}
#present1,#present2,#present3,#present4,#present5,#present6{
    z-index:11;
    display: none;
}
#present1{
    background-image: url('assets/present1.png');
}
#present2{
    background-image: url('assets/present2.png');
}
#present3{
    background-image: url('assets/present3.png');
}
#present4{
    background-image: url('assets/present4.png');
}
#present5{
    background-image: url('assets/present5.png');
}
#present6{
    background-image: url('assets/present6.png');
}

#smallscreen{
    display: none;
}
#fullscreen, #smallscreen{
    bottom: 5px;
    right: 5px;
    padding: 0;
    box-sizing:none;
    width:46px;
    height: 46px;
    border-radius: 10px;
    position: absolute;
    opacity: 0.9;
}
.custom-button{
    background-color:#af1717;
}
.custom-button img, .custom-button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
#scale-tree, #scale-claus, #scale-presents{
    width: 350px;
    height: 80px;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 0 0 20px 20px;
    transition: 0.5s;
}
#scale-tree div, #scale-claus div,#scale-presents div{
    border-radius: 0 0 20px 20px;
    width: 350px;
    height: 80px;
    background-color:#af1717;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#scale-tree span, #scale-claus span, #scale-presents span{
    text-align: center;
    font-size: 1.3rem;
    color:white;
}
#scale-tree input, #scale-claus input,#scale-presents input{
   width: 250px;
   margin: 0 auto;
}
/*Targets*/
.targets{
    display: none;
}
.targets a{
    border-radius: 100%;
    position: absolute;
    z-index: 20;
    box-shadow: 0 0 5px 5px white;
    opacity: 0;
    transition: 1s;
}
#ball-target{
    width: 5.5%;
    height: 10%;
    left: 12%;
    top: 0.5%;
}
#tree-target{
    width: 12%;
    height: 20%;
    left: 49.5%;
    top:60%;
}
#claus-target{
    width:9%;
    height: 16%;
    left:65%;
    top:62%;
}
#presents-target{
    width:20%;
    height: 10%;
    left:42%;
    top:90%;
}
#grinch-target{
    width:4%;
    height: 7%;
    left:39%;
    top:62%;
}
#elf-target{
    width:7%;
    height: 12%;
    left:9.5%;
    top:87%;
}
#fire-target{
    width:9%;
    height: 16%;
    left:16%;
    top:75%;
}
#candle-fire-target1{
    width:1%;
    height: 10%;
    left:15%;
    top:52%;
}
#candle-fire-target2{
    width:1%;
    height: 7%;
    left:11.7%;
    top:55%;
}
#candle-fire-target3{
    width:1%;
    height: 7%;
    left:24.8%;
    top:59%;
}
#sleigh-target{
    width:14%;
    height:15%;
    left:47%;
    top:18%;
}
#big-present-target{
    width:9%;
    height:15%;
    left:80.5%;
    top:70%;
}

footer > div{
    text-align: center;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 0 0 50px 50px ;
    text-align: center;
    padding: 5px;
    color:#021526b2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    bottom: -15px;
    width: 700px;
}
footer p{
    margin: 5px;
    margin: 0;
}
footer a{
    text-decoration: none;
    color:#021526b2;
}
.footer-info, .footer-info a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px

}
.footer-info div{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-info img{
    width: 18px;
}
#lose,#win{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index:51;
    display:none;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.867);
}
#win video{
    width: 100%;
    height: 100%;
}